<div id="<%= dom_id credit_card %>">
  <div>
    <strong>Name:</strong>
    <%= credit_card.name %>
  </div>

  <div>
    <strong>Card number:</strong>
    <%= credit_card.card_number %>
  </div>

  <div>
    <strong>Expiration date:</strong>
    <%= credit_card.expiration_date %>
  </div>

  <div>
    <strong>Cvv:</strong>
    <%= credit_card.cvv %>
  </div>

  <div>
    <strong>User:</strong>
    <%= credit_card.user_id %>
  </div>

</div>
