<div id="<%= dom_id transaction %>">
  <div>
    <strong>Transaction number:</strong>
    <%= transaction.transaction_number %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </div>

  <div>
    <strong>Total cost:</strong>
    <%= transaction.total_cost %>
  </div>

  <div>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= transaction.product_id %>
  </div>

  <div>
    <strong>Creditcard:</strong>
    <%= transaction.creditcard_id %>
  </div>

</div>
